<a href="https://colab.research.google.com/github/gustavoschmoeller/br-python-challenges/blob/master/Exercicio_unidade_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
r = requests.get('https://api.bcb.gov.br/dados/serie/bcdata.sgs.4448/dados?formato=json')
series_IPCA = pd.read_json(r.text)
series_IPCA

           data  valor
0    01/01/1992  26.18
1    01/02/1992  22.40
2    01/03/1992  21.25
3    01/04/1992  18.96
4    01/05/1992  25.52
..          ...    ...
339  01/04/2020   0.68
340  01/05/2020  -0.29
341  01/06/2020  -0.22
342  01/07/2020  -0.33
343  01/08/2020  -0.39

[344 rows x 2 columns]